# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized

The language used for data science are:

1.Python

2.R

3.SQL

4.Java etc

Some of the commonly used libraries by data scientits are:
    
    1. TensorFlow
    
    2. NumPy
    
    3. SciPy
    
    4. Pandas
    
    5. Matplotlib
    
    6. Keras
    
    7. SciKit-Learn etc

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### arithmetic expression examples

In [3]:
# multiplying and adding
(10*20)+53

253

In [4]:
# Converting minutes to hours by dividing with 60
500/60

8.333333333333334

Objectives

* list data science languages
* list data science libraries
* table of Data Science tools
* arithmetic expression examples

## Author

Sai Sudeep Jinkala